# Host & Port
HOST=0.0.0.0
PORT=8880
DEBUG=false

# Compute Device (cuda | cpu)
USE_CUDA=1

# STT Model Configuration
WHISPER_MODEL_NAME=large-v3

# Default Indonesian Voice for Edge-TTS
DEFAULT_VOICE=id-ID-ArdiNeural
